html { 
  background: url(https://lh3.googleusercontent.com/qzeDHEH4itIbIKtU0XAr-VMB7bKYCG4wsgWoJno2PaHuTxzMAPaWwPHMdvewrwgNcfq3Pdq8pg=s630-fcrop64=1,00410000fef7ffff) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

img{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

#inline {
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
    padding-left: 550px;
}

#inline li {
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0px;
    margin: 0px;
    padding-right: 10px;
    font-size: 20px;
}
#inline a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-left: solid;
    border-color: red;
}
#berita{
    border-style: solid;
    padding: 0px;
    margin-bottom: 10px;
}
#berita h1 {
    padding: 0px;
    margin-top: 0px;
    padding-left: 50px;
    margin-bottom: 0px;
}
#berita article {
    margin-top: 0px;
    margin-left: 25px;
}
img {
    width: 80px;
    height: 80px;
    float: left;
}
#title {
    font-size: 50px;
    text-align: right;
}

#menu-left {
    padding-left: 25px;
    height: 450px;
    width: 850px;
}

#bg {
    width: 100%;
    height: 90px;
    background-color: whitesmoke;
    opacity: 0.4;
}
#bg h1 {
    padding-top: 0px;
    margin-top: 0px;
    color: black;
}
body {
    padding: 0px;
    margin: 0px;
}